{#content}
	<div class="left">
		<h2 n:block="title">Posts</h2>
	</div>
	<div class="right">
		<a class="btn btn-large btn-primary" n:href="add"><i class="icon-plus icon-white"></i> Add new post</a>
	</div>

	<br class="clear" />

	{snippet #posts}
		{control postControl:table}
	{/snippet}
{/#}