body {
	padding: 40px;
	min-width: 780px;
}

#navigation {
	background: #3B80F7;
}

#navigation ul li {
	display: inline;
	padding: 5px;
}

#navigation a {
	color: black;
}

.error-font {
    color: red;
    font-weight: bold;
}

fieldset {
    padding: 1em;
    border: 1px solid blue;
    background: #E5ECF9;
    font-size: 125%;
    margin: 15px 0;
}
label {
    float:left;
    margin-right:0.5em;
    padding-top:0.2em;
    text-align:right;
    font-weight:bold;
}

.tags-multiSelect{
    max-height: 200px;
}