[submodule "www/adminer"]
	path = www/adminer
	url = git://github.com/jsifalda/adminer-mini.git
[submodule "www/bootstrap"]
	path = www/bootstrap
	url = git://github.com/jsifalda/twitter-bootstrap.git
[submodule "www/tiny_mce"]
	path = www/tiny_mce
	url = git://github.com/jsifalda/tiny-mce.git
