<?xml version="1.0" encoding="utf-8" ?>
<phpunit
        bootstrap="./tests/bootstrap.php"
        colors="true"
        backupGlobals="false"
        backupStaticAttributes="false"
        >

    <logging>
        <log type="coverage-html" target="./tests/coverage/report" charset="UTF-8"
             yui="true" highlight="false"
             lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="./tests/coverage/coverage.xml"/>
        <log type="testdox-html" target="./tests/coverage/testdox.html"/>
    </logging>

</phpunit>