parameters:
	database:
		driver: pdo_mysql
		charset: utf8
		port: 3306

	entities:
		- %appDir%/Models

	imageStorage:
		thumbDir: 'media/images_thumbnails'
		imageDir: 'media/images'
		importImageDir: 'media/imported_images'
		baseDir: %wwwDir%

	selenium:
		host: flame-cms
		browser: firefox
		browserUrl: http://flame-cms/
		# port: 4444

	theme:
		baseFolder: themes
		default: default