parameters:
	database:
		driver: pdo_mysql
		charset: utf8
		port: 3306
		prefix: flame_

	entities:
		- %appDir%/Models

	imageStorage:
		thumbDir: '/media/images_thumbnails'
		imageDir: '/media/images'
		importImageDir: '/media/imported_images'
		baseDir: %wwwDir%

	selenium:
		host: flame-cms.lc
		browser: firefox
		browserUrl: http://flame-cms.lc/
		# port: 4444

	theme:
		baseDir: %wwwDir%
		baseFolder: themes
		default: default