services:
	Authorizator: Flame\CMS\Security\Authorizator
	Authenticator: Flame\CMS\Security\Authenticator

	SqlLogger: Flame\Utils\ConnectionPanel::register

	TablePrefix: Flame\Doctrine\TablePrefix(%database.prefix%)

	EventManager:
		class: Doctrine\Common\EventManager
		setup:
			- @EventManager::addEventListener('loadClassMetadata', @TablePrefix)

	EntityManagerConfig:
		class: Doctrine\ORM\Configuration
		factory: Doctrine\ORM\Tools\Setup::createAnnotationMetadataConfiguration(%entities%, true)
		setup:
			- @EntityManagerConfig::setSQLLogger(@SqlLogger)

	EntityManager:
		class: Doctrine\ORM\EntityManager
		factory: Doctrine\ORM\EntityManager::create(%database%, @EntityManagerConfig, @EventManager)

	NewsreelFacade: Flame\CMS\Models\Newsreel\NewsreelFacade
	UserFacade: Flame\CMS\Models\Users\UserFacade
	OptionFacade: Flame\CMS\Models\Options\OptionFacade
	CommentFacade: Flame\CMS\Models\Comments\CommentFacade
	PostFacade: Flame\CMS\Models\Posts\PostFacade
	CategoryFacade: Flame\CMS\Models\Categories\CategoryFacade
	TagFacade: Flame\CMS\Models\Tags\TagFacade
	PageFacade: Flame\CMS\Models\Pages\PageFacade
	ImageFacade: Flame\CMS\Models\Images\ImageFacade
	UserInfoFacade: Flame\CMS\Models\UsersInfo\UserInfoFacade

	WordPressImporter: Flame\Utils\WordPressImporter
	ThemeManager: Flame\CMS\Utils\ThemeManager(%theme%, @OptionFacade)

	FileManager:
		class: Flame\Utils\FileManager
		setup:
			- setFileStorage(%wwwDir%/%imageStorage.imageDir%)