body {
	margin: 0 auto;
	color: #7d7d7b;	
	background-color: #f3f2f2;
	border-top: 5px solid #ffd800;	
	min-width: 1100px;
}

a:hover {
	background: #3484D2;
}

a.active {
	background: #3484D2;
}

#main {
	background-color: #fff;
}

#header {
	background-color: #f2f2f2;
	border-bottom: 3px solid #CCCACA;
}

#header-cont {
	padding: 20px;
	text-align: center;
	min-height: 80px;
}

#navigation {
    background: #eee;
}

#navigation ul {
	padding: 10px;
    margin: 0;
}

#navigation ul li{
	display: inline;
}

#comment {
	margin: 35px 0;
}

.comment-box {
	border: 1px solid #eee;
	padding: 10px;
	margin: 5px 0;
}

.odd {
	background-color: #eee;
}

#left {
	width: 680px;
	float: left;
	padding: 10px;
}

#right {
	width: 260px;
	float: right;
	padding: 10px;
}
#content {
	margin: 25px 0;
}

.post-box {
	margin: 15px 0;
}

#footer {
	padding: 30px 0 30px;
	background-color: #F3F2F2;
	border-top: 1px solid #CCCACA;
}
.wrapper {
	width: 980px;
	margin: 0 auto;
}

#categories-menu {
    margin: 15px 5px;
}

#categories-menu li {
    border-bottom: 1px solid #eee;
    padding: 5px;
}
#categories-menu li.last {
    border-bottom: none;
    padding: 5px;
}

img {
    max-width: 600px;
    max-height: 500px;
}

.clear {
    clear: both;
}
div.flash {
    color: black;
    background: #FFF9D7;
    border: 1px solid #E2C822;
    padding: 1em;
    margin: 1em 0;
}


.error {
    background-color: #DB568B;
    padding: 5px;
    list-style: none;
    color: #000000;
}
a[href^="error:"] {
    background: red;
    color: white;
}

.required { color: maroon }


#ajax-spinner {
    margin: 15px 0 0 15px;
    padding: 13px;
    background: white url('../img/spinner.gif') no-repeat 50% 50%;
    font-size: 0;
    z-index: 123456;
    display: none;
}

ul {
    list-style: none;
}

input, textarea {
    width: auto;
}