<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<meta name="robots" content="noindex,nofollow">

	<title>{#title|striptags}Flame CMS{/#} &ndash; Administration</title>

	<link rel="stylesheet" style="text/css" href="{$baseUrl}/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" style="text/css" href="{$baseUrl}/bootstrap/css/bootstrap-responsive.min.css" />
	
	<link rel="shortcut icon" href="{$baseUrl}/favicon.ico" type="image/x-icon">

	<script type="text/javascript" src="{$baseUrl}/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{$baseUrl}/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{$baseUrl}/js/netteForms.js"></script>
	<script type="text/javascript" src="{$baseUrl}/js/ajax.js"></script>
	<script type="text/javascript" src="{$baseUrl}/js/createSlug.js"></script>

	<style type="text/css">
        .right {
            float: right;
        }
        .left {
            float: left;
        }
		.clear {
			clear: both;
        }
		input, textarea {
			width: auto;
		}
		.tags-multiSelect{
			max-height: 200px;
		}
	</style>

	{#head}{/#}
</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button"class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="brand" href="{$basePath}/admin/">Dashboard</a>

		{if $user->isLoggedIn()}
            <div class="btn-group pull-right">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-user"></i> {$user->getIdentity()->email}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a n:href="User:password">Change password</a></li>
                    <li><a n:href="User:edit $user->getId()">Account settings</a></li>
                    <li class="divider"></li>
                    <li><a n:href="logout!">Logout</a></li>
                </ul>
            </div>
		{/if}

            <div class="nav-collapse collapse">
                <ul class="nav">
				{if $user->isLoggedIn() and count($menuItems)}
					{foreach $menuItems as $menuItem}
                        <li n:class="$presenter->isLinkCurrent($menuItem . ':*') ? active">
                            <a href="{link "$menuItem:"}">{$menuItem}</a>
                        </li>
					{/foreach}
				{/if}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

	<div class="container">

		<div class="hero-unit">

            <ul class="breadcrumb">
			{foreach $breadCrumbs as $breadcrumb}
				{if $iterator->last}
                    <li class="active">{$breadcrumb}</li>
					{else}
                    <li><a>{$breadcrumb}</a> <span class="divider">/</span></li>
				{/if}
			{/foreach}
            </ul>

			{snippet flashMessages}
			<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">
				<a class="close" data-dismiss="alert" href="#">×</a>
				<h4 class="alert-heading">{$flash->message}</h4>
			</div>
			{/snippet}


			{include #content}

		</div>

        <hr />
        <footer>
            <p>Powered by <a href="http://projects.jsifalda.name/cms/" target="_blank">Flame CMS</a> 2012.
                &copy; Created by <a href="http://jsifalda.name/" target="_blank"> JSifalda</a></p>
        </footer>
	</div>
</body>
</html>
