<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<meta name="robots" content="noindex,nofollow">

	<title>{#title}{ifset $title}{$title}{/ifset}{/#} &ndash; Administration</title>

	<link rel="stylesheet" style="text/css" href="{$baseUrl}/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" style="text/css" href="{$baseUrl}/bootstrap/css/bootstrap-responsive.min.css" />
	
	<link rel="shortcut icon" href="{$baseUrl}/favicon.ico" type="image/x-icon">

	<script type="text/javascript" src="{$baseUrl}/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{$baseUrl}/js/bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript" src="{$baseUrl}/js/netteForms.js"></script>
	<script type="text/javascript" src="{$baseUrl}/js/ajax.js"></script>
	<script type="text/javascript" src="{$baseUrl}/js/createSlug.js"></script>

	<style type="text/css">
		input, textarea {
			width: auto;
		}
		.tags-multiSelect{
			max-height: 200px;
		}
	</style>

	{#head}{/#}
</head>

<body>

	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
                <button type="button"class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				<a class="brand" href="{$baseUrl}/admin/">{*NAME*}</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
					{if $user->isLoggedIn() and count($menuItems)}
						<li n:foreach="$menuItems as $menuItem" n:class="$presenter->isLinkCurrent($menuItem->page) ? active">
							<a n:href="{$menuItem->page}">{$menuItem->title}</a>
						</li>
					{/if}
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>

	<div class="container">

		<div class="hero-unit">

			{snippet flashMessages}
			<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">
				<a class="close" data-dismiss="alert" href="#">×</a>
				<h4 class="alert-heading">{$flash->message}</h4>
			</div>
			{/snippet}


			{include #content}

		</div>

		{if $user->isLoggedIn()}
			<footer>
				Logged in as <a n:href="User:edit $user->getId()">{$user->getIdentity()->email}</a> |
				<a n:href="User:password">Change password</a> |
				<a n:href="signOut!">Logout</a> |
				<a style="font-weight: bold;" n:href=":Front:Homepage:">Show web</a>
			</footer>
		{/if}

	</div>
</body>
</html>
