{var $title="Import posts from Wordpress"}

{#content}

	<h2 n:block="title">Import</h2>

	<h3>Import data from Wordpress</h3>

	{control importForm}

	<small>It might take a few minutes.</small>

{/#}