{var $title="Edit page"}

{#head}
<script type="text/javascript" src="{$baseUrl}/tiny_mce/tiny_mce.js" ></script>

<script type="text/javascript">
	tinyMCE.init({
		mode: "specific_textareas",
		editor_selector: "mceEditor",
		theme : "advanced"
	});
</script>
{/#}

{block #content}
	{control pageForm}
{/block}