<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots"  content="noindex">

    <link rel="stylesheet" type="text/css"  href="{$basePath}/front/style.css">
    <link rel="icon"       type="image/png" href="{$basePath}/front/favicon.png">

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    {if $presenter->getUser()->isLoggedIn()}
        <script src="{$basePath}/front/script.js"></script>
    {/if}

    <title>LogWatcher</title>
</head>
<body>

    <header>
        <span class="left">
            <a href="https://github.com/OndrejSlamecka/LogWatcher" id="logo">LogWatcher</a>
            <img src="{$basePath}/front/loader.gif" alt="AJAX progress" id="loader">
        </span>

        {if $presenter->getUser()->isLoggedIn()}
        <span class="right">
            <span id="clearingTempFilesState"></span>
            <a href="{link TemporaryFile:clear}" class="delete ajax" id="cleartemp">Clear temporary files</a>
            <a href="{link Sign:out}" id="signout">Sign out</a>
        </span>
        {/if}
    </header>


    <div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

    {snippet content}
        {include #content}
    {/snippet}

</body>
</html>