
.error {
    background-color: #DB568B;
    padding: 5px;
    list-style: none;
    color: #000000;
}
a[href^="error:"] {
    background: red;
    color: white;
}

.required { color: maroon }


#ajax-spinner {
    margin: 15px 0 0 15px;
    padding: 13px;
    background: white url('../img/spinner.gif') no-repeat 50% 50%;
    font-size: 0;
    z-index: 123456;
    display: none;
}